<h1>Listing queencells</h1>

<table>
  <tr>
    <th>Age</th>
    <th>Box</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @queencells.each do |queencell| %>
  <tr>
    <td><%= queencell.age %></td>
    <td><%= queencell.box_id %></td>
    <td><%= link_to 'Show', queencell %></td>
    <td><%= link_to 'Edit', edit_queencell_path(queencell) %></td>
    <td><%= link_to 'Destroy', queencell, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Queencell', new_queencell_path %>
