<p id="notice"><%= notice %></p>

<p>
  <b>Age:</b>
  <%= @queencell.age %>
</p>

<p>
  <b>Box:</b>
  <%= @queencell.box_id %>
</p>


<%= link_to 'Edit', edit_queencell_path(@queencell) %> |
<%= link_to 'Back', queencells_path %>
