<p id="notice"><%= notice %></p>
<h1><%= @hive.name %>:</h1>
<p>This hive has <%= @hive.boxes.count %> boxes.</p>
<p>Which contain <%= @hive.bees %> bees.</p>
<p>And <%= @hive.honey %> ounces of honey.</p>
<br />
<p>This hive is <%= @hive.calendar.week %> weeks old.</p>
<p>there are <%= @hive.queencells %> queencells</p>


<%= button_to 'Add a box to this hive', hive_add_box_path(@hive) %>
<%= button_to 'Advance by 1 week', hive_advance_time_path(@hive) %>
<%= link_to 'Edit', edit_hive_path(@hive) %> |
<%= link_to 'Back', hives_path %>
